[user]
	name = nxs_neo
	email = neo_abraham@proton.me
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com
